# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnpm-debug.log
pnpm-lock.yaml

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem
.env

dist
public/search-data
contents/docs