@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.typography {
  @apply prose prose-zinc prose-headings:scroll-m-20 prose-code:leading-6 prose-code:font-code prose-code:p-1 prose-code:rounded-md prose-pre:bg-neutral-100 prose-pre:border prose-code:before:content-none prose-code:after:content-none prose-img:rounded-md prose-img:border;
  @apply text-sm prose-code:text-xs w-[85vw] !min-w-full sm:w-full sm:mx-auto pt-2;
  @apply dark:prose-invert dark:prose-code:bg-neutral-900 prose-code:text-neutral-800 dark:prose-code:text-white dark:prose-pre:bg-neutral-900;
}

.prose {
  margin: 0 !important;
}

.prose ul > li::marker {
  color: hsl(0, 0%, 29%);
}

.dark .prose ul > li::marker {
  color: hsl(0, 0%, 79%);
}

.prose :where([class~="not-prose"] ul > li)::marker,
.prose :where([class~="not-prose"] ul > li)::marker * {
  color: inherit;
}

.prose :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-start: 0;
}

.prose :where(table):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  width: auto;
}

.prose table {
  @apply border border-border border-collapse;
}

.prose th {
  @apply dark:bg-neutral-900;
}

.prose th,
.prose td {
  @apply border border-border;
  padding: 8px 10px;
}

.code-line {
  padding: 0.75px 12.5px;
}

pre {
  padding: 0 !important;
  width: inherit !important;
  overflow-x: auto;
}
pre>code {
  display: grid;
  max-width: inherit !important;
  padding: 14px 0 !important;
}

.contains-task-list {
  list-style-type: none;
  padding-inline-start: 0;
}

.task-list-item {
  display: flex;
  align-items: center;
}

.task-list-item input {
  margin-right: 0.5rem;
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  margin-right: 22px;
  margin-left: -2px;
  color: rgb(110, 110, 110);
  content: attr(line);
  text-align: right;
}

.highlight {
  font-weight: bold;
  color: black;
}

.dark .highlight {
  font-weight: bold;
  color: white;
}

.highlight-line {
  @apply dark:bg-neutral-800/90;
  @apply bg-neutral-200/90;
}

.highlight-comp>code {
  background-color: transparent !important;
}

.attr-name {
  color: #414141;
}

.dark .attr-name {
  color: #cacaca;
}

.punctuation,
.comment {
  color: gray;
}

.attr-name,
.number,
.tag,
.property-access,
.keyword {
  color: hsla(335, 73%, 53%, 1)
}

.dark .attr-name,
.dark .tag,
.dark .keyword,
.dark .property-access,
.dark .number {
  color: hsla(335, 76%, 59%, 1)
}

.at.operator,
.builtin,
.function {
  color: hsla(210, 100%, 66%, 1)
}

.attr-value,
.string {
  color: hsla(131, 43%, 57%, 1)
}

.constant,
.annotation,
.boolean {
  color: hsl(0, 0%, 29%)
}

.dark .constant,
.dark .annotation,
.dark .boolean {
  color: hsl(0, 0%, 71%)
}

span.katex-display {
  display: flex;
}

span.katex-html {
  display: none;
}

.rehype-code-title {
  @apply px-2;
  @apply -mb-8;
  @apply w-full;
  @apply text-sm;
  @apply pt-1;
  @apply pb-5;
  @apply font-normal;
  @apply tracking-wider;
  @apply font-medium;
  font-family: var(--font-code) !important;
}

.CollapsibleContent {
  overflow: hidden;
}
.CollapsibleContent[data-state='open'] {
  animation: slideDown 300ms ease-out;
}

.CollapsibleContent[data-state='closed'] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
