name: Documents Search CI

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20]

    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install

      - name: Compile TypeScript
        run: pnpm tsc --project tsconfig.scripts.json

      - name: Rename .js files to .mjs
        run: |
          for file in dist/scripts/**/*.js; do
            mv "$file" "${file%.js}.mjs"
          done

      - name: Post-process scripts
        run: |
          for file in dist/scripts/scripts/content.mjs dist/scripts/lib/pageroutes.mjs; do
            if [ -f "$file" ]; then
              echo "Processing $file..."
              sed -i 's|import { Documents } from "@/settings/documents"|import { Documents } from "../settings/documents.mjs"|g' "$file"
              if [ $? -ne 0 ]; then
                echo "Error: Failed to update $file"
                exit 1
              fi
              echo "$file updated successfully."
            else
              echo "$file not found!"
            fi
          done

      - name: Run content script
        run: node dist/scripts/scripts/content.mjs
